/* the body for entire page */
body {
  background-color: grey;
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}
.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}
/* h1 {
  background-color: #ffffff;
  background-color: hsla(0,100%,100%,0.5);
  color: #64645A;
  padding: inherit;} */
#mainHeader {
  background-color: rgb(43, 43, 43);
  color: white;
}
#mainNav {
  background: rgb(87, 87, 87);
  color: rgb(165, 165, 165);
  position: -webkit-sticky;
  position: sticky;
  top:0;
}
#mainNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#mainNav li {
  display: inline;
  padding: 10px;
  background: rgb(109, 108, 108);
}
#mainNav a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}
#mainNav li:hover {
  background: rgb(85, 175, 211);
  /* text-color: black; */
}
#mainNav a:hover {
  color: black;
  text-transform: uppercase;
}
#jumbo {
  background-image: url('../image/Indicator-paper-liquid-pH-solution.jpg');  
  background-position: 35% 20%;
  min-height: 200px;
  text-align: left;
}
#jumbo h2 {
  color: black;
  font-size: 45px;
  padding: 1px 10px;
  line-height: 1.6em;
  background-color: rgba(255, 255, 255, 0.582);
}
#jumbo p {
  color: white;
  background-color: rgba(7, 6, 6, 0.582);
  font-size: 20px;
  font: Courier;
  /* padding: 1px 1px; */
  /* line-height: 1.6em; */
}
p {
  padding: 5px;
  margin: 0px;}
p.zero {
  background-color: rgb(238, 62, 62);}
p.one {
  background-color: rgb(236, 78, 78);}
p.two {
  background-color: rgb(238, 104, 104);}
p.three {
  background-color: rgb(235, 129, 129);}
p.four {
  background-color: rgb(240, 158, 158);}
p.five {
  background-color: rgb(233, 173, 173);}
p.six {
  background-color: rgb(238, 201, 201);}
p.seven {
  background-color: rgb(255, 255, 255);}
p.eight {
  background-color: rgb(140,202,242);}
p.nine {
  background-color: rgb(114,193,240);}
p.ten {
  background-color: rgb(84,182,237);}
p.eleven {
  background-color: rgb(48,170,233);}
p.twelve {
  background-color: rgb(0,160,230);}
p.thirteen {
  background-color: rgb(0,149,226);}
p.fourteen {
  background-color: rgb(0,136,221);}
#mainFooter {
  background: rgb(43, 43, 43);
  color: white;
  text-align: right;
  padding: 20px;
  margin-top: 50px;
}
#contact {
  text-decoration: blink;
}